# Environnement
.env

# Dépendances
/vendor/
/node_modules/

# Logs & stockage
/storage/logs/*.log
/storage/pdf/invoices/*.pdf
/storage/uploads/

# OS
.DS_Store
Thumbs.db

# Tests
/coverage/
/playwright-report/
/test-results/

# IDE
.vscode/
.idea/
*.swp

#TODO Remove at the end of project
tree_former.txt