# Environnement
.env

# Dépendances
/vendor/
/node_modules/

# Logs & stockage
/storage/logs/*.log
/storage/pdf/invoices/*.pdf
/storage/uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
